class Config
  # プログラムのバージョン
  PROGRAM_VERSION = '1.1.2'

  # setting default language (:en or :ja)
  I18n.default_locale = :ja

  MINECHAT_DB = 'db/minechat.sqlite3'

  # discord Botの設定
  DISCORD_BOT = {
    token: '', # 適宜入力
    client_id: '', # 適宜入力
    channel_id: '' # 適宜入力
  }

  # minecraft の設定
  MINECRAFT = {
    host: 'localhost',
    rcon_port: '25575',
    rcon_password: '',
    monitored_log: '/opt/minecraft/logs/latest.log',
    command_prefix: '', # 環境によってコマンド実行にスラッシュが必要な場合がある（必要な場合は、'/'を設定）
  }
end
