require 'yaml'

class Config
  # プログラムの環境設定
  ENV['PROGRAM_ENV'] ||= 'development'

  # プログラムのバージョン
  PROGRAM_VERSION = '0.0.1'

  # discord Botの設定
  DISCORD_BOT = {
    token: '', # 適宜入力
    client_id: '' # 適宜入力
  }

  # minecraft の設定
  MINECRAFT = {
    host: '25575',
    rcon_port: 'localhost',
    rcon_password: '', # 適宜入力
    monitored_log: '/var/minecraft/logs/latest.log'
  }
end
